* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 6rem;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;

}

#body-bg {
  position: absolute;
  top: -12px;
  left: -50px;
  bottom: -50px;
  right: -50px;
  z-index: -1;
  background: url(./images/newyork.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  filter: blur(30px);
}

#card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.416);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#card-bg {
  background: url(./images/newyork.jpg) no-repeat center;
  background-size: cover;
  flex: 1;
  border-radius: 10px;
  padding: 20px 20px 0 20px;
  position: relative;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}

#cities {
  width: 200px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
}

#cities option{
  color: black;
  background-color: #00000018;
}

#card-bottom {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#infos {
  color: white;
  display: flex;
  flex-direction: column;
  backdrop-filter: contrast(10px);

  #info1 {
    display: flex;
    align-items: center;

    #time {
      font-size: 3rem;
    }

    #location {
      display: flex;
      flex-direction: column;
      font-size: 11px;
      margin-left: 5px;

      #city {
        margin-right: 5px;
        text-transform: capitalize;
      }
    }

    #date {
      margin-top: -9px
    }

  }

}


.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex: 1

}

.forcast {
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
  color: #fff;


  .day{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid #ffffff45;
    height: 100%;
    width: -webkit-fill-available;
    
    p {
      font-size: 12px;
      background: #ffffff2e;
      border-radius: 9px;
      width: 38px;
      text-align: center;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .stat {
      margin: 10px 0;
      height: 25px;
    }
  }

}

#temp, #deg {
  color: #fff;
  font-size: 4rem;
  font-family: inherit;
  letter-spacing: -1px;
}

#status {
  height: 59px;
  margin-left: 13px;
}

